@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

html,
body {
    font-family: 'Poppins';
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    top: 0;
    left: 0;
}
body{
    margin-top: 12vh;
}
*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 3px;
    background-clip: padding-box;
    border: 1 solid transparent;
}

*::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px;
}

.navbar a {
    text-decoration: none;
    color: rgb(10, 10, 254);
    font-weight: 500;
}

.navbar a:hover {
    color: red;
}

ul {
    list-style: none;
}

.navbar {
    background: rgb(255, 255, 255);
    padding: 3rem 2rem;
    height: 0rem;
    min-height: 12vh;
}

.navbar .navbar-brand a {
    padding: 1rem 0;
    display: block;
    text-decoration: none;
}

.container-fluid .navbar-brand {
    font-family: 'Satisfy', cursive;
    font-size: 2.5rem;
    color: red
}

.navbar-toggler {
    background: red;
    border: none;
    padding: 10px 10px;
    outline: none;
}

.navbar-toggler span {
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    background-color: rgb(0, 0, 0);
}

.navbar-toggler span+span {
    margin-top: 4px;
    width: 18px;
    margin-left: 4px;
}

.navbar-toggler span+span+span {
    width: 10px;
    margin-left: 10px;
}

@media screen and (max-width:992px) {

    .navbar,
    .navbar .container-fluid,
    .navbar-collapse {
        padding: 0 2rem;
        background-color: rgb(253, 253, 253);
    }
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 2rem 1.2rem;
    font-size: 1.4rem;
    position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    border-top: 4px solid red;
}

.navbar-expand-lg .navbar-nav .nav-link:active {
    border-top: 4px solid red;
    color: red;
}